@import "font.css";
@import "modal.css";
@import "mobile.css";

/** Cascading Style Sheet **/
html,
body {
  margin: 0 auto;
  min-width: 280px;
  font-family: NotoSansCJKkr-Regular, sans-serif;
  letter-spacing: -0.06em;
  overscroll-behavior: contain; /* child element에서 스크롤시 page refreshing 막기위함 */
}

html {
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 6px;
  background-color: var(--col-ff);
  z-index: 3000;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --col-gray231: rgb(231, 231, 235);

  --col-00: #000;
  --col-42: #424242;
  --col-49: #4902a3;
  --col-5c: #5C5C5C;
  --col-77: #770ffc;
  --col-8f: #8F8F8F;
  --col-c2: #c2c2c2;
  --col-cc: #CC1900;
  --col-db: #dbdbdb;
  --col-f5: #f5f5f5;
  --col-ff: #fff;
}

/** common color **/
.col-00 {
  color: var(--col-00);
}
.col-42 {
  color: var(--col-42);
}
.col-49 {
  color: var(--col-49);
}

.col-5c {
  color: var(--col-5c);
}

.col-77 {
  color: var(--col-77);
}
.col-8f {
  color: var(--col-8f);
}
.col-c2 {
  color: var(--col-c2);
}

.col-cc {
  color: var(--col-cc);
}
.col-db {
  color: var(--col-db);
}

.col-ff {
  color: var(--col-ff);
}

.col-f5 {
  color: var(--col-f5);
}

.bg-f5 {
  background-color: var(--col-f5);
}
/**
 * common font
 */
.font-noto700 {
  font-family: NotoSansCJKkr-Bold, sans-serif;
  font-weight: 700;
}

.font-noto500 {
  font-family: NotoSansCJKkr-Medium, sans-serif;
  font-weight: 500;
}

.font-noto400 {
  font-family: NotoSansCJKkr-Regular, sans-serif;
  font-weight: 400;
}

.font-noto300 {
  font-family: NotoSansCJKkr-Light, sans-serif;
  font-weight: 300;
}

.font-poppins {
  font-family: Poppins, sans-serif;
  line-height: 16px;
}

/** common font-weight **/
.txt-bold {
  font-weight: bold;
}
.font400 {
  font-weight: 400;
}

/**
 * common font-size
 */
.font9 {
  font-size: 9px;
}

.font10 {
  font-size: 10px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font18 {
  font-size: 18px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font22 {
  font-size: 22px;
}

.font23 {
  font-size: 23px;
}

.font24 {
  font-size: 24px;
}

/** common flex **/
.flex-common {
  display: flex;
  justify-content: left;
}
.flex-row,
.flex-column,
.flex-column-l {
  display: flex;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
  align-items: center;

}
.flex-column {
  flex-direction: column;
  align-items: center;
}
.flex-column-l {
  flex-direction: column;
}

.justify-center,
.justify-right,
.justify-left,
.flex-space {
  display: flex;
  align-items: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-center {
  justify-content: center;
}

.flex-space {
  justify-content: space-between;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mouse-cursor {
  cursor: pointer;
}

.position-r {
  position: relative;
}

/**
 * common padding
 */
.pt2 {
  padding-top: 2px;
}

.pt3 {
  padding-top: 3px;
}

.pt4 {
  padding-top: 4px;
}

.pt5 {
  padding-top: 5px;
}

.pt6 {
  padding-top: 6px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt9 {
  padding-top: 9px;
}

.pt10 {
  padding-top: 10px;
}

.pt11 {
  padding-top: 11px;
}

.pt12 {
  padding-top: 12px;
}

.pt13 {
  padding-top: 13px;
}

.pt14 {
  padding-top: 14px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt17 {
  padding-top: 17px;
}

.pt18 {
  padding-top: 18px;
}

.pt19 {
  padding-top: 19px;
}

.pt20 {
  padding-top: 20px;
}

.pt21 {
  padding-top: 21px;
}

.pt22 {
  padding-top: 22px;
}

.pt23 {
  padding-top: 23px;
}

.pt24 {
  padding-top: 24px;
}

.pt25 {
  padding-top: 25px;
}

.pt26 {
  padding-top: 26px;
}

.pt27 {
  padding-top: 27px;
}

.pt28 {
  padding-top: 28px;
}

.pt29 {
  padding-top: 29px;
}

.pt30 {
  padding-top: 30px;
}

.pt31 {
  padding-top: 31px;
}

.pt32 {
  padding-top: 32px;
}

.pt49 {
  padding-top: 49px;
}

.pt56 {
  padding-top: 56px;
}

.pr2 {
  padding-right: 2px;
}

.pr3 {
  padding-right: 3px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr6 {
  padding-right: 6px;
}

.pr7 {
  padding-right: 7px;
}

.pr8 {
  padding-right: 8px;
}

.pr9 {
  padding-right: 9px;
}

.pr10 {
  padding-right: 10px;
}

.pr11 {
  padding-right: 11px;
}

.pr12 {
  padding-right: 12px;
}

.pr13 {
  padding-right: 13px;
}

.pr14 {
  padding-right: 14px;
}

.pr15 {
  padding-right: 15px;
}

.pr16 {
  padding-right: 16px;
}

.pr17 {
  padding-right: 17px;
}

.pr18 {
  padding-right: 18px;
}

.pr19 {
  padding-right: 19px;
}

.pr20 {
  padding-right: 20px;
}

.pr21 {
  padding-right: 21px;
}

.pr22 {
  padding-right: 22px;
}

.pr23 {
  padding-right: 23px;
}

.pr24 {
  padding-right: 24px;
}

.pr25 {
  padding-right: 25px;
}

.pr26 {
  padding-right: 26px;
}

.pr27 {
  padding-right: 27px;
}

.pr28 {
  padding-right: 28px;
}

.pr29 {
  padding-right: 29px;
}

.pr30 {
  padding-right: 30px;
}

.pr31 {
  padding-right: 31px;
}

.pr32 {
  padding-right: 32px;
}

.pb2 {
  padding-bottom: 2px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb6 {
  padding-bottom: 6px;
}

.pb7 {
  padding-bottom: 7px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb9 {
  padding-bottom: 9px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb11 {
  padding-bottom: 11px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb13 {
  padding-bottom: 13px;
}

.pb14 {
  padding-bottom: 14px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb17 {
  padding-bottom: 17px;
}

.pb18 {
  padding-bottom: 18px;
}

.pb19 {
  padding-bottom: 19px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb21 {
  padding-bottom: 21px;
}

.pb22 {
  padding-bottom: 22px;
}

.pb23 {
  padding-bottom: 23px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb26 {
  padding-bottom: 26px;
}

.pb27 {
  padding-bottom: 27px;
}

.pb28 {
  padding-bottom: 28px;
}

.pb29 {
  padding-bottom: 29px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb31 {
  padding-bottom: 31px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb73 {
  padding-bottom: 73px;
}

.pl2 {
  padding-left: 2px;
}

.pl3 {
  padding-left: 3px;
}

.pl4 {
  padding-left: 4px;
}

.pl5 {
  padding-left: 5px;
}

.pl6 {
  padding-left: 6px;
}

.pl7 {
  padding-left: 7px;
}

.pl8 {
  padding-left: 8px;
}

.pl9 {
  padding-left: 9px;
}

.pl10 {
  padding-left: 10px;
}

.pl11 {
  padding-left: 11px;
}

.pl12 {
  padding-left: 12px;
}

.pl13 {
  padding-left: 13px;
}

.pl14 {
  padding-left: 14px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl17 {
  padding-left: 17px;
}

.pl18 {
  padding-left: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl20 {
  padding-left: 20px;
}

.pl21 {
  padding-left: 21px;
}

.pl22 {
  padding-left: 22px;
}

.pl23 {
  padding-left: 23px;
}

.pl24 {
  padding-left: 24px;
}

.pl25 {
  padding-left: 25px;
}

.pl26 {
  padding-left: 26px;
}

.pl27 {
  padding-left: 27px;
}

.pl28 {
  padding-left: 28px;
}

.pl29 {
  padding-left: 29px;
}

.pl30 {
  padding-left: 30px;
}

.pl31 {
  padding-left: 31px;
}

.pl32 {
  padding-left: 32px;
}

/**
 * common margin
 */
.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt11 {
  margin-top: 11px;
}

.mt12 {
  margin-top: 12px;
}

.mt13 {
  margin-top: 13px;
}

.mt14 {
  margin-top: 14px;
}

.mt15 {
  margin-top: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mt17 {
  margin-top: 17px;
}

.mt18 {
  margin-top: 18px;
}

.mt19 {
  margin-top: 19px;
}

.mt20 {
  margin-top: 20px;
}

.mt21 {
  margin-top: 21px;
}

.mt22 {
  margin-top: 22px;
}

.mt23 {
  margin-top: 23px;
}

.mt24 {
  margin-top: 24px;
}

.mt25 {
  margin-top: 25px;
}

.mt26 {
  margin-top: 26px;
}

.mt27 {
  margin-top: 27px;
}

.mt28 {
  margin-top: 28px;
}

.mt29 {
  margin-top: 29px;
}

.mt30 {
  margin-top: 30px;
}

.mt31 {
  margin-top: 31px;
}

.mt32 {
  margin-top: 32px;
}

.mt52 {
  margin-top: 52px;
}

.mt72 {
  margin-top: 72px;
}

.mr2 {
  margin-right: 2px;
}

.mr3 {
  margin-right: 3px;
}

.mr4 {
  margin-right: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr6 {
  margin-right: 6px;
}

.mr7 {
  margin-right: 7px;
}

.mr8 {
  margin-right: 8px;
}

.mr9 {
  margin-right: 9px;
}

.mr10 {
  margin-right: 10px;
}

.mr11 {
  margin-right: 11px;
}

.mr12 {
  margin-right: 12px;
}

.mr13 {
  margin-right: 13px;
}

.mr14 {
  margin-right: 14px;
}

.mr15 {
  margin-right: 15px;
}

.mr16 {
  margin-right: 16px;
}

.mr17 {
  margin-right: 17px;
}

.mr18 {
  margin-right: 18px;
}

.mr19 {
  margin-right: 19px;
}

.mr20 {
  margin-right: 20px;
}

.mr21 {
  margin-right: 21px;
}

.mr22 {
  margin-right: 22px;
}

.mr23 {
  margin-right: 23px;
}

.mr24 {
  margin-right: 24px;
}

.mr25 {
  margin-right: 25px;
}

.mr26 {
  margin-right: 26px;
}

.mr27 {
  margin-right: 27px;
}

.mr28 {
  margin-right: 28px;
}

.mr29 {
  margin-right: 29px;
}

.mr30 {
  margin-right: 30px;
}

.mr31 {
  margin-right: 31px;
}

.mr32 {
  margin-right: 32px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb6 {
  margin-bottom: 6px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb9 {
  margin-bottom: 9px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb11 {
  margin-bottom: 11px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb13 {
  margin-bottom: 13px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb19 {
  margin-bottom: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb21 {
  margin-bottom: 21px;
}

.mb22 {
  margin-bottom: 22px;
}

.mb23 {
  margin-bottom: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb26 {
  margin-bottom: 26px;
}

.mb27 {
  margin-bottom: 27px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb29 {
  margin-bottom: 29px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb31 {
  margin-bottom: 31px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml2 {
  margin-left: 2px;
}

.ml3 {
  margin-left: 3px;
}

.ml4 {
  margin-left: 4px;
}

.ml5 {
  margin-left: 5px;
}

.ml6 {
  margin-left: 6px;
}

.ml7 {
  margin-left: 7px;
}

.ml8 {
  margin-left: 8px;
}

.ml9 {
  margin-left: 9px;
}

.ml10 {
  margin-left: 10px;
}

.ml11 {
  margin-left: 11px;
}

.ml12 {
  margin-left: 12px;
}

.ml13 {
  margin-left: 13px;
}

.ml14 {
  margin-left: 14px;
}

.ml15 {
  margin-left: 15px;
}

.ml16 {
  margin-left: 16px;
}

.ml17 {
  margin-left: 17px;
}

.ml18 {
  margin-left: 18px;
}

.ml19 {
  margin-left: 19px;
}

.ml20 {
  margin-left: 20px;
}

.ml21 {
  margin-left: 21px;
}

.ml22 {
  margin-left: 22px;
}

.ml23 {
  margin-left: 23px;
}

.ml24 {
  margin-left: 24px;
}

.ml25 {
  margin-left: 25px;
}

.ml26 {
  margin-left: 26px;
}

.ml27 {
  margin-left: 27px;
}

.ml28 {
  margin-left: 28px;
}

.ml29 {
  margin-left: 29px;
}

.ml30 {
  margin-left: 30px;
}

.ml31 {
  margin-left: 31px;
}

.ml32 {
  margin-left: 32px;
}

/** common width / height **/
.w220 {
  width: 220px;
}

.h52 {
  height: 52px;
}


.h100p {
  height: 100%;
}

.page-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--col-ff);
}

.page-container {
  margin: 0 auto;
  border: 1px solid var(--col-gray231);
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 740px;
}

.body-h100 {
  position: relative;
  height: 100%;
  max-height: 740px;
  background-color: var(--col-ff);
}

.txt-ellipse1,
.txt-ellipse2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: left;
  white-space: normal;
}

.txt-ellipse1 {
  -webkit-line-clamp: 1;
}

.txt-ellipse2 {
  -webkit-line-clamp: 2;
}

.word-keep-all {
  word-break: keep-all;
}

.sticky-top {
  position: sticky;
  top: -1px;
  background-color: var(--col-ff);
  z-index: 10;
}

.stick2 {
  width: 100%;
  height: 2px;
  background-color: var(--col-f5);
}

.hide {
  display: none;
}

.shown {
  display: block;
}

.none-account-body {
  margin-top: 68px;
  padding: 40px 48px 40px 49px;
  border: 1px dashed var(--col-db);
  width: 100%;
  height: 324px;
}

.letter04 {
  letter-spacing: -0.04em;
}

.letter06 {
  letter-spacing: -0.06em;
}

.btn-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  border: 1px solid var(--col-00);
  border-radius: 56px;
  width: 126px;
  height: 42px;
  background-color: var(--col-ff);
  color: var(--col-00);
  z-index: 1;
}

.btn-connect:hover {
  background-color: var(--col-00);
  color: var(--col-ff);
}

.empty-blur {
  filter: blur(60px);
  background: rgba(154, 100, 222, 0.4);
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  z-index: -1;
}

.blur-p {
  position: absolute;
  top: -60px;
  left: 0;
}

.account-item-body {
  display: grid;
  grid-template-columns: 56px calc(100% - 56px - 32px) 32px;
  grid-column-gap: 0;
  align-items: center;

  margin-top: 16px;
  padding: 16px 16px 16px 24px;
  border: 1px solid var(--col-db);
  width: 100%;
  height: 132px;
  background-color: var(--col-ff);
}

.img16 {
  width: 16px;
  height: 16px;
}
.img20 {
  width: 20px;
}
.img32 {
  width: 32px;
  height: 32px;
}
.img40 {
  width: 40px;
  height: 40px;
}
.account-connection-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 24px;
  align-items: center;
}

.progress-stick {
  height: 2px;
  background-color: var(--col-49);
}

.account-input-body {
  position: relative;

  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid var(--col-db);
  width: 100%;
  height: 64px;
  background-color: var(--col-ff);

  background-repeat: no-repeat;
  background-position: left 16px center, left 56px center;
  background-size: 32px 32px, 16px 16px;
}

.account-input {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 88px;
  padding: 0 16px 0 0;
  border: unset;
  width: calc(100% - 88px);
  height: 100%;
  font-family: NotoSansCJKkr-Regular, sans-serif;
  letter-spacing: -0.04em;
  color: var(--col-00);
  outline: none;
}

.account-input::placeholder {
  color: var(--col-5c);
}

.dot-w20 {
  padding-left: 7px;
  width: 20px;
}

.dot-remain-w20 {
  width: calc(100% - 20px);
}

.input-body {
  overflow: auto;
  width: 100%;
  height: calc(100% - 52px - 2px - 72px);
}

.account-bottom {
  width: 100%;
  height: 72px;
  background: var(--col-ff);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
}

.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--col-c2);
}
.btn-next.btn-active {
  background-color: var(--col-49);
}
.empty-img110 {
  width: 110px;
  height: 111px;
}











.btn-next.box-shadow {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
}
.h52-remain {
  overflow: auto;
  height: 100%;
  max-height: calc(100% - 52px);
}
@keyframes animationout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-zoom {
  background-color: var(--col-ff);
  animation: animationout 0.7s;
}
.src-certi {
  border: 1px solid var(--col-db);
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: var(--col-ff);
}
.btn-arc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  width: 100%;
  height: 48px;
  background-color: var(--col-49);
  color: var(--col-ff);
}
.border-bottom-f5,
.border-bottom-db {
  width: 100%;
  height: 1px;
}
.border-bottom-f5 {
  border-bottom: 1px solid var(--col-f5);
}
.border-bottom-db {
  border-bottom: 1px solid var(--col-db);
}
.w22 {
  width: 22px;
}
.w22-remain {
  width: 100%;
  max-width: calc(100% - 22px);
}
.text-underline {
  text-decoration: underline;
}
.col-red {
  color: #df0000;
}

.h125 {
  height: 125px;
}
.h177-remain {
  overflow: auto;
  height: 100%;
  max-height: calc(100% - 179px);
}
.btn-again-request {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--col-00);
  border-radius: 56px;
  width: 126px;
  height: 42px;
}
.btn-again-request:hover {
  background-color: var(--col-00);
  color: var(--col-ff);
}
.h72 {
  height: 72px;
}
.h124-remain {
  overflow: auto;
  height: 100%;
  max-height: calc(100% - 126px);
}
.input145 {
  padding: 4px 10px;
  border: none;
  border-bottom: 1px solid var(--col-42);
  width: 165px;
  height: 32px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: var(--col-77);
  outline: none;
}

.input145::placeholder {
  font-family: NotoSansCJKkr-Regular, sans-serif;
  color: var(--col-db);
}

.nickname-body {
  position: relative;
  width: 100%;
}
.input_min10 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 64px 20px 16px;
  border: 1px solid var(--col-db);
  width: 100%;
  height: 64px;
  outline: none;
}
.input_min10::placeholder {
  color: var(--col-c2);
}
.input_min10:focus {
  border: 1px solid var(--col-00);
}
.error-border,
.error-border:focus{
  border: 1px solid var(--col-cc);
}
.btn-input-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.pt80 {
  padding-top: 80px;
}
.img60 {
  width: 60px;
  height: 60px;
}

.modal-content.nickname-edit-content {
  height: 343px;
}

.btn-cancel,
.btn-ok {
  width: 160px;
  height: 48px;
}
.btn-cancel {
  border: 1px solid var(--col-49);
  background-color: var(--col-ff);
}
.btn-ok {
  background-color: var(--col-c2);
}
.btn-ok.btn-active {
  background-color: var(--col-49);
}
.h32 {
  height: 32px;
}
.w100 {
  width: 100%;
}




